:root {
  --purple-100: #c595cb;
  --purple-300: #5b3d9f;
  --purple-600: #0d0850;
  --purple-900: #040224;
  --white: #fff;
}

body {
  height: 100vh;
  background: linear-gradient(180deg, var(--purple-600), var(--purple-900));
}

.asideContent {
  height: 500px;
  background-color: red;
}
