@use "_mixins.scss";

.aside {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
  color: var(--white);
  max-width: calc(var(--max-page-width) - 300px);
}

.text {
  flex: 1;
  padding: 1rem;
}

.content {
  flex: 1;
  padding: 1rem;
}

.titleWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.title {
  font-size: 72px;
  @include mixins.text-glow;
}
.subtitle {
  margin-top: -1rem;
}

.description {
  font-size: 18px;
}

@media (max-width: 900px) {
  .aside {
    flex-direction: column !important;
    gap: 1rem;
  }
  .text,
  .content {
    padding: 0.5rem;
  }
}
