.cloudsContainer {
  margin-top: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 560;
  pointer-events: none;
}

.cloud {
  position: absolute;
  opacity: 0.8;
  min-width: 80%;
  min-height: 130%;
  overflow: visible;
}

.cloud img {
  overflow: visible;
  object-fit: cover;
}

.cloud1 {
  left: 30%;
}

.cloud2 {
  right: 30%;
}

.cloud3 {
  right: 40%;
}

.cloud4 {
  left: 40%;
}

.cloud5 {
  top: 12%;
  left: 10%;
}

.cloud6 {
  top: 8%;
  right: 30%;
}

.cloud7 {
  left: 60%;
}

.cloud8 {
  right: 15%;
}

.cloud9 {
  left: 20%;
}

.cloud10 {
  right: 50%;
}
