.card {
  background: var(--purple-200);
  border-radius: 20px;
  overflow: hidden;
  max-width: calc(
    (100% - var(--event_grid_gap) * (var(--event_grid_cols) - 1)) /
      var(--event_grid_cols)
  );
  width: 100%;
  display: flex;
  flex-direction: column;
  box-shadow: 0 2px 16px rgba(0, 0, 0, 0.08);
  text-decoration: none;
  transition: transform 0.3s ease;

  &:hover {
    transform: translateY(-5px);
  }
}

.imageWrapper {
  width: 100%;
  overflow: hidden;
  background: #f5f5f5;
  display: flex;
  align-items: center;
  justify-content: center;
}

.image {
  width: 100%;
  object-fit: cover;
}

.content {
  padding: 1rem 1.2rem;
  background: var(--purple-200);
}

.title {
  color: var(--purple-800);
  font-family: var(--font-body);
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 1rem;
  margin-top: -0.1rem;
}

.description {
  color: var(--purple-800);
  font-family: var(--font-body);
  font-size: 0.8rem;
  margin-top: -0.5rem;
}
