@import "./_mixins.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 3rem;
  margin-left: 10%;
  position: relative;
  z-index: 3;
}

.topText {
  font-family: var(--font-heading);
  font-size: 4rem;
  color: var(--white);
  font-weight: 400;
  margin-left: -10%;
}

.dayOneText {
  font-family: var(--font-heading);
  font-size: 6rem;
  margin: 0;
  font-weight: 700;
  line-height: 1;
  @include text-glow;
  filter: blur(0.3px);
}

@media (max-width: 768px) {
  .topText {
    font-size: 2rem;
  }

  .dayOneText {
    font-size: 3.5rem;
  }
}

@media (max-width: 480px) {
  .topText {
    font-size: 1.5rem;
  }

  .dayOneText {
    font-size: 2.5rem;
  }
}
