$navbar-bg: rgba(19, 2, 61, 0.849);
$navbar-outline: 1px solid rgba(41, 2, 91, 0.912);
$navbar-backdrop-filter: blur(25px);

@mixin navbar-base {
  background-color: $navbar-bg;
  backdrop-filter: $navbar-backdrop-filter;
  border-bottom: $navbar-outline;
}

.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  transition: background-color 0.3s ease backdrop-filter 0.3s ease border-bottom
    0.3s ease;
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scrolled {
  @include navbar-base;
}

.inner {
  width: var(--max-page-width);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoWrapper {
  position: relative;
  aspect-ratio: 1/1;
  height: 100%;
  min-height: 60px;
}

.logoImage {
  object-fit: contain;
}

.links {
  display: flex;
  gap: 2.5rem;
  list-style: none;
  margin-right: 1rem;
}

.links a {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: color 0.2s;
}

.navLink {
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  transition: color 0.2s;
  cursor: pointer;
}

.navLink:hover,
.links a:hover {
  color: var(--purple-200);
}

.active {
  color: var(--purple-200) !important;
}

.mobileNavbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 100;
  transition: all 0.3s ease;
  padding: 1rem 0;
  display: none;
}

.mobileInner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  width: 100%;
}

.hamburgerWrapper {
  display: flex;
  align-items: center;
}

.mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 99;
  max-height: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  transform: translateY(80px);
}

.mobileMenuOpen {
  @include navbar-base;
  max-height: 300px;
}

.mobileLinks {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
  margin: 0;
  list-style: none;
}

.mobileLinks li {
  width: 100%;
}

.mobileLinks a {
  display: block;
  color: var(--white);
  text-decoration: none;
  font-family: var(--font-body);
  font-weight: 600;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 1rem 1.5rem;
  transition: all 0.2s;
  text-align: center;
  cursor: pointer;
}

.mobileLinks a:hover {
  color: var(--purple-200);
  background: rgba(167, 122, 224, 0.1);
}

.mobileLinks li:last-child a {
  border-bottom: none;
}

@media (max-width: 1024px) {
  .navbar {
    display: none;
  }
  .mobileNavbar {
    display: flex;
  }

  .mobileMenu {
    display: block;
  }
}

@media (min-width: 1025px) {
  .mobileMenu {
    display: none;
  }
}

@media (max-width: 900px) {
  .logoWrapper {
    height: 30px;
    width: 85px;
  }
}
