.divider {
  display: flex;
  align-items: center;
  width: 800px;
  height: 100px;
  margin: 2rem auto;
  position: relative;
}

.right {
  transform: scaleX(-1);
}
.rocket {
  height: 100px;
  object-fit: contain;
}
