@use "./mixins";

.bgSpace {
  position: relative;
  height: 60vh;
  width: 100%;
  pointer-events: none;
  margin-bottom: -8%;
  img {
    filter: brightness(0.5);
    object-fit: contain;
  }
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  text-align: center;
  padding: 0 2rem;
  width: 100%;
}

.header {
  font-size: var(--h1-size);
  margin-bottom: 10px;
  pointer-events: none;
  filter: blur(0.3px);
  @include mixins.text-glow;
}

.subtitle {
  font-size: var(--p-size);
  color: var(--white);
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
}

@media (max-width: 900px) {
  .bgSpace {
    height: 40vh;
    outline: 2px solid red;
  }
}
