.common {
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 2rem;
  height: 100%;
  aspect-ratio: 1 / 1;
  width: calc(calc(100% - calc(var(--gap-size) * calc(var(--elements-per-row) - 1))) / var(--elements-per-row));

  @media (max-width: 600px) {
    aspect-ratio: unset;

    .description {
      height: unset;
    }
  }
}

.odd {
  background: var(--purple-300);
}

.even {
  background: transparent;
}

.iconWrapper {
  width: 50px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 100%;
  background: #ffffff;
  position: relative;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  object-position: center;
  padding: 2rem;
}

.image {
  object-fit: contain;
}

.title {
  font-family: var(--font-body);
  font-weight: bold;
  font-size: 1.2rem;
  margin-bottom: 0.5rem;
  color: var(--white);
}

.description {
  font-family: var(--font-body);
  font-size: 0.8rem;
  color: var(--white);
  height: 100px;
}
